.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #E8C8FB;
  color: white;
  font-family: 'Inter', sans-serif;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-text {
  font-size: 1.2rem;
}

.footer-icon, .tech-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  filter: brightness(0) invert(1); /* Make icons white */
}

.footer-button {
  color: white;
  text-decoration: none;
}

.navbar-separator {
  margin: 0 10px;
}
