.landing-container {
    position: relative;
    height: 88vh;
    width: 99.5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    z-index: 10;
    position: relative;
    top: -5rem;
    background: rgba(232, 200, 251, 0.40);
}

.floating-text {
    position: absolute;
    transition: transform 2s ease-in-out;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    opacity: 1;
}

.floating-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg, 
      rgba(232, 200, 251, 0.4) 0%, 
      rgba(232, 200, 251, 0.4) 100%
    );
    z-index: 1;
    pointer-events: none;
}

.bold {
    font-weight: bold;
    font-size: 2rem;
}

.floating-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 87vh;
    margin: auto;
    overflow: hidden;
}

.landing-buttons {
    position: absolute;
    bottom: 15rem;
    justify-content: center;
    z-index: 5;
}

.landing-button {
    background: rgba(232, 200, 251, 0.4);
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    transition: background 0.3s ease;
}

.landing-button:hover {
    background: rgba(232, 200, 251, 0.6);
}

.final-text {
    font-size: 4.5rem;
    text-align: center;
    top: 16rem;
    color: white;
    font-family: 'Inter', sans-serif;
    z-index: 10;
    opacity: 1;
    transform: scale(0.5);
    transition: opacity 1s ease, transform 1s ease;
}

.slow-fade-in {
    opacity: 1; /* Show the final text */
    transform: scale(.75); /* Grow final text to normal size */
}

