/* Landing Section */
.landing-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: visible;
    
}
.Sara-Is
{
    position: absolute;
    top: 10rem;
    justify-content: center;
    z-index: 5;
    background: rgba(232, 200, 251, 0.40);
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    z-index: 10;
    position: relative;
    top: -8rem;
    background: rgba(232, 200, 251, 0.40);
}

.floating-text {
    position: absolute;
    transition: transform 2s ease-in-out;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    opacity: 1;
}

.floating-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg, 
      rgba(232, 200, 251, 0.4) 0%, 
      rgba(232, 200, 251, 0.4) 100%
    );
    z-index: 1;
    pointer-events: none;
}

.bold {
    font-weight: bold;
    font-size: 2rem;
}

.floating-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 87vh;
    margin: auto;
    overflow: hidden;
}

.landing-buttons {
    position: absolute;
    bottom: 20rem;
    justify-content: center;
    z-index: 5;
}

.landing-button {
    background: rgba(232, 200, 251, 0.4);
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    transition: background 0.3s ease;
}

.landing-button:hover {
    background: rgba(200, 200, 251, 0.6);
  
}

.final-text {
    font-size: 4.5rem;
    text-align: center;
    top: 16rem;
    color: white;
    font-family: 'Inter', sans-serif;
    z-index: 10;
    opacity: 1;
    transform: scale(0.5);
    transition: opacity 1s ease, transform 1s ease;
}

.slow-fade-in {
    opacity: 1;
    transform: scale(.75);
}

/* Project Section */
.project-section {
    background-color: white;
    width: 100vw; /* Ensure full width */
    min-height: 100vh; /* Full viewport height */
}

.project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.03); /* Slight enlargement on hover */
}

/* Countdown Timer */
.countdown-timer {
    position: absolute;
    top: -2.5rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif; /* Cool font, adjust as needed */
    z-index: 1000 !important;
}
.My-Work{
    position: absolute;
    bottom: -9.5rem;
    justify-content: center;
    align-items: center;
    z-index: 5; 
   
}
