/* General Layout */
.my-story-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  padding: 2rem 15rem; /* General padding for all sections */
}

/* Video Section */
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px; /* Height for the video section */
  background-color: #e8c8fb;
}

.video-container {
  position: relative;
  width: 100%;
  height: 650px; /* Set fixed height to control video cropping */
  max-width: 1000px;
margin: 0 auto;
    overflow: hidden; /* Hide any overflow */
}

.background-video {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures video covers the container fully */
    object-position: bottom right; /* Crop from the top left */
    filter: blur(1.2px); /* Add a slight blur effect */
    position: absolute;
    bottom:20px; /* Anchor to the top */
    right: 0; /* Align to the left to remove black bar */
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(232, 200, 251, 0.4) 0%, rgba(232, 200, 251, 0.4) 100%);
  z-index: 2;
}

/* Journal Section */
.journal-section {
  display: flex;
 
  
  background-color: #fff;
  position: relative;
  padding-bottom: 5rem; /* Extra padding to make space for the journal graphics */
}

.text-container {
  width: 80%;
}

.my-story-text, .down-arrow
{
  position: relative;
  
}
 .page-crumple, .journal-page, .journal-pen {
  position: relative;

  z-index: 3;
}

.journal-text-section {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

ul {
  list-style-type: disc;
  padding-left: 2rem;
}

/* Instagram Section */
.instagram-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 3rem 0;
}

.lightwidget-widget {
  width: 100%;
  max-width: 600px;
  height: 500px;
  border: 0;
}

