.navbar {
  background-color: transparent;
}

.navbar-title {
  display: flex; /* Align children in a row */
  align-items: center; /* Vertically center items */
  flex-grow: 1; /* This pushes the links to the right */
  font-family: 'Inter', sans-serif;
}

.navbar-links {
  display: flex; /* Align children in a row */
  align-items: center; /* Vertically center items */
}

.navbar-separator {
  margin: 0 5px; /* Add space around the separators */
  display: flex;
  align-items: center; /* Ensure vertical centering of the separator */
}

.footer-button {
  font-family: 'Inter', sans-serif;
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
